.dialogo{
    position: absolute;
    z-index: 4;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.712);
    background-color: aliceblue;
    width: 220px;
    height: 330px;
    margin-top: 20vh; 
    margin-left: calc(50vw - 110px);
    padding-left: 20px;
}