.fondo{
background-color: rgb(175, 187, 228);
height: 100vh;
width: 100vw;
}

.conjunto{
    padding-top: 10vh;
    margin-left: calc(50vw - 250px);
}

.caja {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 500px;/* 
    border: 2px solid black; */
}

.habilidades {
    display: flex;
    flex-direction: column;
    }

.habilidad {
    height: 50px;
    width: 120px;
    margin-left: 10px;
    margin-top: 10px;
    text-transform: capitalize;
    text-align: justify;
}

.cuadro {/* 
    border: 2px solid red; */
    height: auto;
    width: 100%;
}

.cuadroDanio {/* 
    border: 2px solid green; */
    height: 360px;
    width: 250px;
}

.danio {
    position: absolute;
    z-index: 1;
}

.bRedondo {
    height: 20px;
    width: 20px;/* 
    margin: 1px;
    border-radius: 100%;
    border: 0px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px black; */
}

.bNormal {
    margin: 1px;
    border-radius: 100px;
    border: 0px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px black;
}

.botonDanio{
    position: absolute;
    z-index: 3;
    user-select: none;
}

.cabeza{
    height: 60px;
    width: 70px;
    margin-top: 25px;
    margin-left: 90px;
}
.torso{
    height: 130px;
    width: 45px;
    margin-top: 95px;
    margin-left: 100px;
}
.brazoD{
    height: 100px;
    width: 70px;
    margin-top: 100px;
    margin-left: 25px;
}
.brazoI{
    height: 100px;
    width: 70px;
    margin-top: 100px;
    margin-left: 150px;
}
.piernaD{
    height: 120px;
    width: 90px;
    margin-top: 230px;
    margin-left: 30px;
}
.piernaI{
    height: 120px;
    width: 90px;
    margin-top: 230px;
    margin-left: 125px;
}

.imgCantidad{
    border: 2px solid black;
    height: 10px;
    width: 80px;
    background-size: cover;
    image-rendering: pixelated;
    margin-left: 10px;
}

.palpadeo{
    position: absolute;
    z-index: 2;
    opacity: 0;
    height: 360px;
    width: 250px;
    animation: bucle 4s;
    animation-iteration-count: infinite;
}

@keyframes bucle {
    60%{ opacity: 0;}
    75%{ opacity: 1;}
    100%{ opacity: 0;}
}