<p>habilidades works!</p>

<br><br><br>
<div *ngIf="this.DatosService.mostrarBotones">
Puntos a repartir {{ this.DatosService.personaje.puntosHabilidades }}</div><br>
<div class="caja">
    <div class="habilidades">
        <div class="habilidad">
            Fuerza <br>{{ this.DatosService.personaje.fuerza }}
            <button class="bRedondo" *ngIf="this.DatosService.mostrarBotones"
                (click)="cambioHabilidad('restar', 'fuerza')">-</button>
            <button class="bRedondo" *ngIf="this.DatosService.mostrarBotones"
                (click)="cambioHabilidad('sumar', 'fuerza')">+</button>
        </div>
        <div class="habilidad">
            Velocidad <br>{{ this.DatosService.personaje.velocidad}}
            <button class="bRedondo" *ngIf="this.DatosService.mostrarBotones"
                (click)="cambioHabilidad('restar', 'velocidad')">-</button>
            <button class="bRedondo" *ngIf="this.DatosService.mostrarBotones"
                (click)="cambioHabilidad('sumar', 'velocidad')">+</button>
        </div>
        <div class="habilidad">
            Puntería <br>{{ this.DatosService.personaje.punteria }}
            <button class="bRedondo" *ngIf="this.DatosService.mostrarBotones"
                (click)="cambioHabilidad('restar', 'punteria')">-</button>
            <button class="bRedondo" *ngIf="this.DatosService.mostrarBotones"
                (click)="cambioHabilidad('sumar', 'punteria')">+</button>
        </div>
        <div class="habilidad">
            Percepción <br>{{ this.DatosService.personaje.percepcion }}
            <button class="bRedondo" *ngIf="this.DatosService.mostrarBotones"
                (click)="cambioHabilidad('restar', 'percepcion')">-</button>
            <button class="bRedondo" *ngIf="this.DatosService.mostrarBotones"
                (click)="cambioHabilidad('sumar', 'percepcion')">+</button>
        </div>
        <div class="habilidad">
            Destreza <br>{{ this.DatosService.personaje.destreza }}
            <button class="bRedondo" *ngIf="this.DatosService.mostrarBotones"
                (click)="cambioHabilidad('restar', 'destreza')">-</button>
            <button class="bRedondo" *ngIf="this.DatosService.mostrarBotones"
                (click)="cambioHabilidad('sumar', 'destreza')">+</button>
        </div>
        <div class="habilidad">
            Discrepción <br>{{ this.DatosService.personaje.discrepcion }}
            <button class="bRedondo" *ngIf="this.DatosService.mostrarBotones"
                (click)="cambioHabilidad('restar', 'discrepcion')">-</button>
            <button class="bRedondo" *ngIf="this.DatosService.mostrarBotones"
                (click)="cambioHabilidad('sumar', 'discrepcion')">+</button>
        </div>
    </div>
    <div class="cuadro">
        <div class="cuadroDanio" style="background-image: url('assets/salud/rojo.png')">
            <img class="danio" [ngStyle]="{opacity: this.DatosService.personaje.danioCabeza}"
                src="assets/salud/cabeza.png">
            <img class="danio" [ngStyle]="{opacity: this.DatosService.personaje.danioBrazoD}"
                src="assets/salud/brazoD.png">
            <img class="danio" [ngStyle]="{opacity: this.DatosService.personaje.danioBrazoI}"
                src="assets/salud/brazoI.png">
            <img class="danio" [ngStyle]="{opacity: this.DatosService.personaje.danioTorso}"
                src="assets/salud/torso.png">
            <img class="danio" [ngStyle]="{opacity: this.DatosService.personaje.danioPiernaD}"
                src="assets/salud/piernaD.png">
            <img class="danio" [ngStyle]="{opacity: this.DatosService.personaje.danioPiernaI}"
                src="assets/salud/piernaI.png">
            <img class="palpadeo" src="assets/salud/negro.png">
            <div class="botonDanio cabeza" (click)="recibirDanio($event, 'danioCabeza')"></div>
            <div class="botonDanio torso" (click)="recibirDanio($event,'danioTorso')"></div>
            <div class="botonDanio brazoD" (click)="recibirDanio($event, 'danioBrazoD')"></div>
            <div class="botonDanio brazoI" (click)="recibirDanio($event, 'danioBrazoI')"></div>
            <div class="botonDanio piernaD" (click)="recibirDanio($event, 'danioPiernaD')"></div>
            <div class="botonDanio piernaI" (click)="recibirDanio($event, 'danioPiernaI')"></div>
        </div>
    </div>
</div>

<br><br><br>

Fecha del archivo de guardado (aun sin implementar) {{DatosService.fechaDeGuardado}}<br>
<button (click)="DatosService.guardar()">Guardar</button>
<button *ngIf="this.DatosService.mostrarBotones" (click)="DatosService.cargar()">Cargar</button><br><br>
<button (click)="DatosService.borrarTodo()">Borrar archivo de guardado</button>