.dialogo{
    font-size: larger;
    position: absolute;
    z-index: 4;
    border: 2px, solid, aliceblue;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.726);
    background-color: aliceblue;
    width: 250px;
    height:min-content;
    margin-top: 20vh;
    margin-left: calc(50VW - 125px);
    padding: 20px;
    /* 
    margin-left: calc(50vw - 300px); */
}

