.dialogo{
    position: absolute;
    z-index: 4;
    border: 2px, solid, red;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.726);
    background-color: aliceblue;
    width: 600px;
    height: 500px;
    margin-top: 20vh;
    margin-left: 60px;
    /* 
    margin-left: calc(50vw - 300px); */
}